<html lang="en">
<%- include("./partials/head.ejs") %>  

<body>
  <header class="header">
    <h1>All Messages</h1>
  </header>
  
  <main class="page-content">
    <div class="messages">
      <% if (messages && messages.length > 0) { %>
        <%messages.forEach(message => { %>
          <div class="message">
            <h3>Username: <%= message.username %></h3>
            <p>Message: <%= message.message %></p>
            <p>Added: <%= message.formatted_date %></p>
            <a href="/<%= message.id %>" class="viewLink">View Details</a>
          </div>
          <% }) %>
        <% } else { %>
        <p>No messages yet!</p>
      <% } %>
    </div>
    <a href="/new" class="newMessageBtn">New Message</a>
  </main>

</body>
</html>